@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,900&display=swap');

@tailwind base; 
@tailwind components; 
@tailwind utilities; 

@layer base {

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

    body {
        font-family: "Poppins", sans-serif;
    }

    .lightTheme {
        @apply bg-zinc-100 text-zinc-900;
    }

    .darkTheme {
        @apply bg-zinc-800 text-zinc-200 sm:bg-zinc-900;
    }

    .darkModeText {
        @apply text-zinc-200;
    }

    .lightModeText {
        @apply text-zinc-900;
    }

    .lightModeCard {
        @apply bg-zinc-100 sm:bg-white;
    }

    .darkModeCard {
        @apply bg-zinc-800;
    }
}


